<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="firstgefpro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="firstgefpro.Perspective"
            id="FirstGEFPro.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="firstgefpro.editor.GraphicalEditor"
            contributorClass="firstgefpro.editor.GraphicalEditorActionBarContributor"
            default="false"
            id="firstGEFPro.graphicalEditor"
            name="GraphicalEditor">
      </editor>
   </extension>

</plugin>
